@tailwind base;
@tailwind components;
@tailwind utilities;

header.sticky {
    position: sticky;
    top: 0;
    z-index: 100;
}

img.image {
    height: 400px;
    width: 300px;
}

img.projectPic {
    height: 240px;
    width: 400px;
}

html {
    scroll-behavior: smooth;
    background-color: rgb(31, 41, 55);
}
